
.article{
  .head{
    height: 50px;
    width: 100%;
    background: #293c55;
    .container{
      width: 1140px;
      margin: 0 auto;
      height: 50px;
    }
  }
  .content{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    .container{
      width: 1140px;
      margin: 0 auto;
      display: flex;
      height: 100%;
      background: rgba(255,255,255,.1);
      .article-list{
        width: 300px;
        position: relative;
        .list{
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          top: 40px;
          overflow: scroll;
        }
        .add,.item{
          display: flex;
          align-items: center;
          padding-left: 30px;
          font-size: 16px;
          height: 40px;
          color: #aaa;
          img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          border-bottom: 1px solid rgba(0,0,0,.3);
          cursor: pointer;
        }
        .item{
          height: 60px;
          color: #888;
          padding-left: 25px;
          border-bottom: 1px solid rgba(255,255,255,.2);
          border-left: transparent solid 5px;
          &.active{
            border-left: #293c55 solid 5px;
          }
        }
      }
      .content-box{
        flex: 1;
        border-left: 1px solid rgba(0,0,0,.3);
        height: 100%;
        position: relative;
        .title{
          height: 50px;
          display: flex;
          .b{ flex: 1;}
          input{
            width: 100%;
            border: none;
            height: 50px;
            font-size: 20px;
            padding-left: 20px;
            background: rgba(255,255,255,.2);
          }
          .option{
            width: 200px;
            overflow: hidden;
            display: flex;
            p{
              line-height: 50px;
              cursor: pointer;
              flex: 1;
              background: #293c55;
              color: #fff;
              font-size: 16px;
              text-align: center;
              &:last-child{
                background: #2446AB;
              }
              &:first-child{
                background: #2D2D2D;
              }
            }
          }
        }
        .box{
          position: absolute;
          top: 50px;
          bottom: 0;
          width: 100%;
          >.editors{
            display: flex;
            height: 100%;
            position: relative;
            #myEditor{
              width: 100%;
            }
          }
        }
        textarea{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

